# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Arquivos\Ciencia da Computação\7º Periodo\Sistemas Distribuidos\ATV_SD_Carro\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
